.container{
   display: grid;
   place-content: center;
   height: 90vh;
}

.dad{
    display: grid;
    place-content: center;
    background-color: #fff;
    height: 50vh;
   max-width: 100%;
   
    text-align: center;
    padding: 4rem;
    border-radius: 3rem;
    box-shadow: 0 .5rem 1.5rem rgba($color: #000000, $alpha: 0.1), 0 .6rem .6rem  rgba($color: #000000, $alpha: 0.1);


    .dad-jokes{
        
       width: 60rem;
        font-size: 2rem;
        padding: 4rem;
    }
    h3{
        font-size:1.5rem;
        color: #000;
        font-weight: 800;
        text-transform: capitalize;
    }

}


.btn{
    padding: .9rem 2rem;
  border: #92DDC9;
  color: #000;
  font-weight: 300;
  background-color: transparent;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1.5rem rgba($color: #000000, $alpha: 0.1), 0 .6rem .6rem  rgba($color: #000000, $alpha: 0.1);
 background-color: #92DDC9;
 cursor: pointer;
 display: block;
 margin:  0 auto;
 &:focus{
     outline: 0;

 }
 &:active{
     transform: scale(0.98);
 }

}

